.form-container {
    padding-top: 3vw;
    padding-bottom: 2vw;
    border-bottom: solid black 1vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(red, black);
}

form {
    width: 30vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 10vw;
    text-shadow: .2vw .2vw .5vw rgba(255, 255, 255, 0.671);
}

.form-part > * {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    padding: .2rem;
}

form > button {
    width: 10vw;
    font-size: 1.3rem;
    margin: 10px;
    border: black 2px solid;
    box-shadow: 0 0 7px 3px white;
}

.pokeball {
    width: 50vw;
    animation: rotate 3s linear infinite;
    margin: 10vw;
    border-radius: 60%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.add-shadow {
    border: black 2px solid;
    box-shadow: 0 0 7px 3px white;
}