
.details-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

img {
   height: 50vh;
    
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    font-size: 3rem;
    color: white;
}

.stats-container > div {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    background-color: white;
    padding: .5vw;
    margin: .5vw;
    border: black 2px solid;
    box-shadow: 0 0 7px 3px white;
}